@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import "tailwindcss";

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
   width: 2px;       /* width of vertical scrollbar */
  height: 6px; 
  /* Chrome, Safari, Edge */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.my-scrollbar::-webkit-scrollbar {
  width: 6px;       /* width of vertical scrollbar */
  height: 6px;      /* height of horizontal scrollbar */
}